input[type="submit"] {
  border-radius: 50px;
}

.redStar {
  color: red;
}
.formContainer {
}
.main {
  display: flex;
  justify-content: space-between;
}
.total {
  width: 35%;

  font-size: 1rem;
}
.headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-device-width: 640px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .headers {
    flex-direction: column;
  }
  .list-group-item{
    flex-direction: column;
  }

  .details {
  }
}
.badge{
  margin-left: 5px;
}
.new{
  margin-left: 20px;
}
.details {
  margin-left: 50px;
  max-height: 911px;
  overflow-y: scroll;
}
.card-header{
  font-weight: bold;
}
.dot {
  height: 25px;
  width: 25px;
opacity: 65%;
  border-radius: 50%;
}
.spinner-border{
  margin-left: 10px;
}
.fontWhite{
    color:white;
    opacity: 65%;
}
.list-group-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
  color: black ;
}
.purpule {
  background-color: purple;
}
.green {
  background-color: green;
}
.violet {
  background-color: violet;
}
.orange {
  background-color: orange;
}
.black{
    background-color: black;
}
.lime{
    background-color: lime;
    color: black ;
}
.naviblue{
    background-color: navy;
}
.grey{
    background-color: grey;
}
.brown{
    background-color: #873600;
}
.indian{
    background-color: #F50AA7;
}