.welcomeBody {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main2 {
  height: 70vh;
  margin-top: 150px;
}

.heading {
  display: flex;

  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.btnLogin {
  width: 125px;
}





