input[type="submit"] {
  border-radius: 50px;
}

.redStar {
  color: red;
}
.formContainer {
}

.main1 {
  display: flex;
  justify-content: space-between;
}
.total {
  width: 100%;
  font-size: 1rem;
}
.headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headers1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.limitButtons {
  display: flex;
  align-items: center;
}

.limitbutton {
  background-color: #1c87c9;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
@keyframes glowing {
  0% {
    background-color: red;
    box-shadow: 0 0 5px rgb(184, 58, 58);
  }
  50% {
    background-color: red;
    box-shadow: 0 0 20px rgb(223, 50, 50);
  }
  100% {
    background-color: red;
    box-shadow: 0 0 5px rgb(216, 60, 60);
  }
}
.limitbutton {
  animation: glowing 1300ms infinite;
}

.categoryExpense {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-device-width: 640px) {
  .categoryExpense {
    flex-direction: column;
  }
  .main1 {
    flex-direction: column;
    align-items: center;
  }
  .headers {
    flex-direction: column;
  }
  .list-group-item {
    flex-direction: column;
  }
  .menuButtons {
    margin-top: 10px;
  }
  .vr {
    display: none;
  }
  .headers1 {
    flex-direction: column;
    align-items: center;
  }
  .details {
  }
}

.searchE{
  border: 2px solid grey;
}
.badge {
  margin-left: 5px;
}
.new {
  margin-left: 20px;
}
.details {
  max-height: 1221px;
  height: 1221px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-header {
  font-weight: bold;
}
.dot {
  height: 25px;
  width: 25px;
  opacity: 65%;
  border-radius: 50%;
}
.spinner-border {
  margin-left: 10px;
}
.fontWhite {
  color: white;
  opacity: 65%;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.edit,
.delete {
  margin-right: 10px;
  margin-bottom: 10px;
}

.red {
  background-color: red;
}
.yellow {
  background-color: #008b8b;
}
.purpule {
  background-color: purple;
}
.green {
  background-color: green;
}
.violet {
  background-color: violet;
}
.orange {
  background-color: orange;
}
.black {
  background-color: #808000;
}
.lime {
  background-color: lime;
  color: black;
}
.naviblue {
  background-color: navy;
}
.grey {
  background-color: grey;
}
.brown {
  background-color: #873600;
}
.indian {
  background-color: #f50aa7;
}

/* Icon Color*/

.redColor {
  color: red;
}
.yellowColor {
  color: #008b8b;
}
.purpuleColor {
  color: purple;
}
.greenColor {
  color: green;
}
.violetColor {
  color: violet;
}
.orangeColor {
  color: orange;
}
.blackColor {
  color: #808000;
}
.limeColor {
  color: lime;
}
.naviblueColor {
  color: navy;
}
.greyColor {
  color: grey;
}
.brownColor {
  color: #873600;
}
.indianColor {
  color: #f50aa7;
}

/* chips design */
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 25px;
  background-color: #f1f1f1;
  color: white;
  opacity: 70%;
}

.limit {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: red;
}
