.navBar {
  display: flex;
  flex-direction: column;
}
.allElements{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
@media screen and (max-device-width: 640px) {
  .allElements{
    flex-direction: column;
    align-items: center;
  }
  .loginDetails{
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }
  .logoutButton{
    margin-top: 10px;
  }
}



.loginDetails{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family:'Times New Roman', Times, serif;
  font-weight: 600;
  margin-right: 43px;
  
}

.search {
  border: 2px solid grey;
  border-radius: 50px;
}

input[type="button"] {
  border-radius: 50px;
}
.changeColor {
  background-color: black;
}
