.navBar {
  display: flex;
  flex-direction: column;
}
.allElements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-device-width: 640px) {
  .navBar {
    align-items: center;
    justify-content: center;
  }
  .allElements {
    flex-direction: column;
    align-items: center;
  }
  .loginDetails {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    height: 150px;
  }
  .ml {
    margin-left: 16px;
    margin-top: 10px;
  }
  .logoutButton {
    margin-right: 6px;
  }
}

.logoutButton {
  margin-left: 10px;
}

.profile {
  border-radius: 50%;
  margin-right: 10px;
}
.userDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loginDetails {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  width: 25%;
}

.search {
  border: 2px solid grey;
  border-radius: 50px;
}

input[type="button"] {
  border-radius: 50px;
}
.changeColor {
  background-color: black;
}
h2 {
  font-family: tahoma;
  font-style: italic;
  font-size: 35px;
}
