.main3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.graph {
  margin-left: 20px;
}
.head1 {
  display: flex;
}
.leftSideButtons {
  display: flex;
}

@media screen and (max-device-width: 640px) {
  .main3 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .graph {
    margin-left: -50px;
  }
  .head1 {
    flex-direction: column;
    margin-left: 0px;
  }
  .filterButtons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  .quick {
    margin-left: 10px;
  }
  .leftSideButtons {
    flex-direction: column;
  }
  .vr {
    display: none;
  }
}

@media screen and (max-device-width: 990px) {
  .main3{
    flex-direction: column;
  }
}

.head {
  display: flex;
}
.red {
  background-color: red;
}
.yellow {
  background-color: #008b8b;
}
.purpule {
  background-color: purple;
}
.green {
  background-color: green;
}
.violet {
  background-color: violet;
}
.orange {
  background-color: orange;
}
.black {
  background-color: #808000;
}
.lime {
  background-color: lime;
}
.naviblue {
  background-color: navy;
}
.grey {
  background-color: grey;
}
.brown {
  background-color: #873600;
}
.indian {
  background-color: #f50aa7;
}

.filterButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterButton {
  margin-left: 10px;
}
.vr {
  margin-left: 10px;
}
