.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.graph{
  margin-left: 20px;
}
.head1{
  display: flex;
}

@media screen and (max-device-width: 640px) {
  .main{
    flex-direction: column;
  }
  .graph{
    margin-left: -50px;
  }
  .head1{
    margin-left: 0px;
  }
}
.head{
  display: flex;
}
.red {
    background-color: red;
  }
  .yellow {
    background-color: yellow;
  }
  .purpule {
    background-color: purple;
  }
  .green {
    background-color: green;
  }
  .violet {
    background-color: violet;
  }
  .orange {
    background-color: orange;
  }
  .black{
      background-color: black;
  }
  .lime{
      background-color: lime;
  }
  .naviblue{
      background-color: navy;
  }
  .grey{
      background-color: grey;
  }
  .brown{
      background-color: #873600;
  }
  .indian{
      background-color: #F50AA7;
  }